body,
html {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}
.m-hidden {
  display: none !important;
}
h1 {
  font: Russo One;
}
.hero {
  display: grid;
  grid-template-areas: "image herotext";
  grid-template-columns: 45vw 55vw;
  height: 100vh;
}
.hero-image-wrapper {
  display: grid;
  grid-template-areas: "logo space";
  grid-template-columns: 1fr 1fr;
  grid-area: image;
  /* background-image: url(assets/personal_living.jpg); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  border-radius: 0px 0px 20px 0px;
  /* -webkit-filter: saturate(5%); /* Safari 6.0 - 9.0 */
  /* filter: saturate(5%); */
  height: 800px;
}
.why-us {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin: auto;
  width: 100%;
  margin-top: 30vh;
}
.why {
  margin: 30px;
}
.content-divider-heading {
  margin-top: 8vh;
}
.content-divider-why {
  display: grid;
  grid-template-areas: "one";
  grid-template-columns: 100vw;
  /* height: 70vh; */
  margin-top: 0;
  margin-bottom: 10vh;
  text-align: center;
}
.material-icons {
  font-size: 60px !important;
}

.why-icon {
  font-size: 60px !important;
}

/* 
zoom animation on hero image
*/

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
  }
}

.menu {
  height: 5%;
  width: 65%;
  grid-template-areas: "Product Project Whyus Free number";
  grid-template-columns: 25% 25% 18% 2% 30%;
  display: grid;
  grid-area: herotext;

  background-color: white;
  align-content: center;
  z-index: 999;
  padding-top: 6%;
  margin-left: 28%;
}
.text-logo {
  color: #0071c0;
}
.text-logo-e {
  color: #00b050;
}

/* Standard syntax */
@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5); /* Safari 6.0 - 9.0*/
  }
}

.hero-image {
  -webkit-animation: zoom 100s; /* Chrome, Safari, Opera */
  animation: zoom 50s;

  height: 800px;
  margin-left: -2%;
}

.logo {
  padding-top: 15%;
  padding-left: 18%;
  margin-left: 0.2fr;
  width: 16px;
  display: grid;
  grid-area: logo;
  z-index: 999;
}
.logo-image {
  height: 100px;
  width: 180px;
  padding-left: 24%;
  padding-top: 10%;

  /* -webkit-filter: saturate(5%); /* Safari 6.0 - 9.0 */
  /* filter: saturate(5%); */
}
a {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.2em;
  color: #0071c0;
  font-size: large;
  font-weight: bold;
}

#phone-icon {
  width: 22px;
  height: 22px;
}
#number {
  padding-left: 20px;
  color: #363f60;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: large;
}
#call-btn {
  height: max-content;
  width: max-content;
  display: grid;

  font-weight: bolder;
  color: white;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
}
.hero h1 {
  font-size: 3.7vw;
  margin-top: 2.8em;
  margin-right: 3.5em;
  line-height: 1.5;
  color: #363f60;
}

#form-wrapper {
  padding-right: 4em;
  margin-left: 4em;
}
/* @media only screen and (max-width: 600px) {
  .hero {
    grid-template-areas: "image" "herotext";
    grid-template-rows: 60vh 40vh;
    grid-template-columns: none;
  }
  .hero-image-wrapper {
    display: grid;
    grid-area: image;
  }
} */
.subtext {
  font-size: 1.2vw;
  line-height: 2;
  /* margin-right: 1em; */
  max-width: 70%;
  /* margin-left: 5em; */
  color: #636363;
}

.sub-tagline {
  font-weight: bold;
}
#cta-btn {
  margin-top: 2em;
  height: 60px;
  width: 200px;
  background-color: #5c7eff;
  font-weight: bolder;
  color: white;
  border-radius: 10px;
  font-size: 16px;
}

.content-divider {
  display: grid;
  grid-template-areas: "text button";
  grid-template-columns: 70vw 30vw;
  height: 30vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.ghost-btn {
  height: 60px;
  width: 200px;
  background: transparent;
  font-weight: bolder;
  color: black;
  border-radius: 10px;
  font-size: 16px;
  border-color: black;
  border-width: 2px;
  margin: auto;
  display: block;
  margin-top: calc(15vh - 30px);
}

.product-header {
  display: block;
  width: 70vh !important;
  overflow: hidden;
}

.backdrop {
  position: absolute;
  z-index: 1;
  width: 100vh;
  overflow: hidden;
  height: 30vh;
}

.foreground {
  position: absolute;
  z-index: 2;
  width: 100vh;
  height: 40vh;
}

.backdrop-text {
  font-size: 250px;
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
  color: #bbbbbb1c;
  width: 2000px;
  align-self: end;
  margin-top: -50px;
}

.dash {
  height: 3px;
  width: 100px;
  background-color: black;
  display: inline-block;
  vertical-align: middle;
}

.foreground h1 {
  font-size: 50px;
  margin-left: 20%;
  margin-top: calc(15vh - 10px);
  font-weight: 900;
}

.products-wrapper {
  display: grid;
  grid-template-areas:
    "main-product middle lasts"
    "main-product prod2 prod3";
  grid-template-columns: 40vw 23vw 38vw;
}

.main-product {
  grid-area: main-product;
  background-color: lightcyan;

  background-image: url(assets/payu1.jpg);
  height: 400px;
  width: 400px;
  margin-left: 25%;
  border-radius: 20px;
}

.corporate-spaces {
  padding-top: 40%;
  padding-left: 30%;
  align-content: center;
  color: white;
  font-weight: 400;
  font-size: x-large;
}
.personal-living {
  grid-area: middle;

  background-image: url(assets/personal_living2.jpg);
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  margin-left: 8%;
  border-radius: 20px;
}
.personal-text {
  padding-top: 20%;
  padding-left: 20%;
  align-content: center;
  color: white;
  font-weight: 400;
  font-size: x-large;
}
.retail-container {
  background-image: url(assets/renewbuy_1.jpeg);
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  margin-top: 13%;
  margin-left: 8%;
  border-radius: 20px;
}

.retail-text {
  padding-top: 20%;
  padding-left: 20%;
  align-content: center;
  color: white;
  font-weight: 400;
  font-size: x-large;
}

.rent-ready-container {
  background-image: url(assets/rent_ready.jpg);
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;

  border-radius: 20px;
}

.rent-ready-container h3 {
  padding-top: 20%;
  padding-left: 20%;
  align-content: center;
  color: white;
  font-weight: 400;
  font-size: x-large;
}

.coming-soon-container {
  background-image: url(assets/personal_living.jpg);
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;

  margin-top: 8%;
  border-radius: 20px;
}

.coming-soon-container h3 {
  padding-top: 20%;
  padding-left: 20%;
  align-content: center;
  color: white;
  font-weight: 400;
  font-size: x-large;
}

.product-wrapper-div {
  width: 85%;
  display: grid;
  grid-template-areas:
    "main-product middle lasts"
    "main-product prod2 prod3";
  grid-template-columns: 40vw 23vw 38vw;
  margin-left: auto;
  margin-right: auto;
}

.projects-wrapper {
  display: grid;
  grid-template-areas:
    "project1 project2 project3"
    "project4 project5 project6";
  grid-template-columns: 33vw 33vw 34vw;
}
.projects-wrapper-div {
  display: grid;
  grid-template-areas:
    "project1 project2 project3"
    "project4 project5 project6";
  grid-template-columns: 33vw 33vw 34vw;
}

.project-tile {
  height: 450px;

  width: 330px;
  border-radius: 20px;
  background-size: cover;
  filter: brightness(1);
}

.tile1 {
  grid-area: project1;
  background-image: url(assets/tile3.jpg);
  margin-left: 30%;
}

.tile2 {
  grid-area: project2;
  margin-left: 20%;
  margin-bottom: 20%;
  background-image: url(assets/karma_1.jpg);
}
.tile3 {
  grid-area: project3;
  margin-left: 10%;
  background-image: url(assets/pl3.jpg);
  margin-bottom: 20%;
}

.tile4 {
  grid-area: project4;
  margin-left: 30%;
  background-image: url(assets/innov83.jpg);
}

.tile5 {
  grid-area: project5;
  margin-left: 20%;
  background-image: url(assets/payu1.jpg);
}
.tile6 {
  grid-area: project6;
  margin-left: 10%;
  background-image: url(assets/wpj1.jpg);
}

.footer-div {
  display: grid;
  grid-template-areas: "logo menu form";
  grid-template-columns: 30% 30% 40%;
  width: 100%;
  position: relative;
  background: white;
  padding: 10px 0;
}

#footer-logo {
  display: grid;
  grid-area: logo;
}

#quick-link {
  display: grid;
  grid-area: menu;
}
#form {
  display: grid;
  grid-area: form;
}
.input-group input,
.input-group select {
  margin: 24px auto;
  box-sizing: border-box;
  background-color: transparent;
  line-height: 24px;
  padding: 12px 16px;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
.input-group select {
  height: 48px;
  color: rgba(0, 0, 0, 0.54);
}
#proceed {
  height: 50px;
  margin-left: calc(30% - 20px);
  width: 185px;
  background-color: #5c7eff;
  font-weight: bolder;
  color: white;
  border-radius: 40px;
  cursor: pointer;
  font-size: 15px;
}
/*
Loader CSS
*/

.spinner {
  width: 40px;
  height: 40px;
  background-color: #0271c0;
  position: absolute;
  top: 48%;
  left: 48%;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 999999;
}
.clickable-product {
  cursor: pointer;
}

.slider {
  display: none;
}
#touchSlider ul {
  width: 99999px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

#touchSlider ul li {
  float: left;
  width: 100%;
  height: 150px;
  background: #9c9;
  font-size: 14px;
  color: #fff;
}
.popup-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  text-align: center;
  z-index: 99;
  overflow: hidden;
}
.form-container {
  width: 300px;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  margin: 0 auto;
  padding: 20px 25px;
}
form {
  text-align: left;
  padding: 22px;
}
form .request-callback {
  text-align: center;
  color: #363f60;
  font-size: 20px;
}
.tnc-form,
.tnc-form a {
  font-size: 10px;
  margin-top: 18px;
}
label {
  text-align: left;
  font-size: 12px;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
select,
option {
  width: 100%;
  font-size: 15px;
}
input {
  outline: none;
  border: none;
}
select {
  outline: none;
  border: none;
  background: transparent;
}
input[type="submit"] {
  height: 50px;
  width: 100%;
  background-color: #5c7eff;
  font-weight: bolder;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  padding: 6px 10px 10px 9px;
  margin-top: 12px;
}

/***********Testinomials**************/
.single-testi {
  border-style: solid;
  padding: 10%;
  text-align: center;
}
.wrapper {
  width: 1170px;
  margin: 0 auto;
}
.testimonial-carousal {
  margin: 5% auto 0;
}

.section-padding {
  padding: 60px 0;
}
.testi-image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: block;
  margin-left: 0 auto;
  overflow: hidden;
  margin-left: 31%;
  margin-bottom: 10px;
}
.testi-image img {
  width: 100%;
  height: 100px;
}

/****************FOOTER********************/
.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-style: solid;
  justify-content: space-around;
  background-color: #2a2c2f;
}

.footer-elements {
  border-style: solid;
  height: auto;
}
.f-link ul {
  text-decoration: none;
  display: inline-flex;
  list-style: none;

  color: white;
}

/******************Form Overlay Effect*********************/

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 6; /* Specify a stack order in case you're using a different order for other elements */
  /* cursor: pointer;  */
}

#product-detail-overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: auto; /* Full height (cover the whole page) */
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: whitesmoke;
  z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
  /* cursor: pointer; */
}

.info-wrap {
  position: absolute;
  top: 15%;
  /* margin: 0 5%; */
  margin-left: 33%;
  background-color: whitesmoke;
  width: 30%;
}
.close {
  margin-left: 94%;
  outline: none;
  border: none;
  background: transparent;
}

.owl-nav {
  color: #0071c0;
  font-size: -webkit-xxx-large;
}
.owl-nav button {
  outline: none;
  background: transparent;
}
.owl-next {
  position: absolute;
  top: 90%;
  font-size: -webkit-xxx-large;
  right: 8px;
  color: coral;
}
.owl-prev {
  position: absolute;
  top: 90%;
  font-size: -webkit-xxx-large;
  left: 8px;
  color: coral;
}

.p-close {
  position: absolute;
  z-index: 999;
  cursor: pointer;
  right: 25px;
  margin-top: 20px;
  font-size: medium;
  font-weight: bold;
  color: rgb(0, 0, 0, 0.6);
}

.product-container {
  padding: 30px;
  display: grid;
  grid-template-areas:
    "pic prod-head"
    "pic prod-cont";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 12vh 82vh;
}
.p-image {
  grid-area: pic;
  padding: 15px;
}
.p-heading {
  grid-area: prod-head;
}
.p-heading h4 {
  font-size: 40px;
  font-weight: 900;
  margin: 25px 0px;
  text-align: center;
}
.p-desc {
  grid-area: prod-cont;
  padding: 10px 20px 10px 10px;
}
.owl-nav {
  top: 45%;
  position: absolute;
  cursor: pointer;
}
.owl-next {
  left: 97vw;
}

/**********Mobile View********/

@media (min-width: 320px) and (max-width: 480px) {
  .form-container {
    width: 80%;
  }
  .m-hidden {
    display: block !important;
  }
  .bottom-fix-bar {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 65px;
    display: grid;
    grid-template-areas: "get-quote" "contact";
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #e8e8e8;
    background: white;
    z-index: 999;
    transition: 0.3s;
  }
  #cta-btn-mobile {
    grid-area: get-quote;
    height: 50px;
    width: 45vw;
    background-color: #5c7eff;
    font-weight: bolder;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    margin: 6px 10px 10px 9px;
  }
  #ghost-btn-mobile {
    grid-area: contact;
    height: 50px;
    width: 45vw;
    font-weight: bolder;
    color: rgb(0, 0, 0, 0.7);
    border-radius: 10px;
    font-size: 14px;
    background: transparent;
  }
  .cta-btn-m-hide {
    display: none;
  }
  body {
    overflow-x: hidden;
  }

  .hero {
    grid-template-areas: "image" "herotext";
    grid-template-columns: 100%;
    grid-template-rows: 50vh 50vh;
    height: 90vh;
  }
  .content-divider-why {
    /* padding-bottom: 31vh; */
  }
  .why-us {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    text-align: center;
    margin: auto;
    width: 100%;
    margin-top: 15vh;
  }
  .hero-image {
    width: 100vw;
    height: 50vh;
    margin-left: -7%;
  }
  .hero-image-wrapper {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    height: 51vh;
  }
  .logo-image {
    height: auto;
    width: 130px;
    padding-left: 0%;
    padding-top: 0%;
  }
  #menu {
    display: none;
  }
  .hero h1 {
    font-size: 1.7em;
    margin-top: 0px;
    margin-right: 0px;
    line-height: 1.5;
    text-align: center;
  }
  #form-wrapper {
    padding-right: 3em;
    margin-left: 3em;
    margin-top: 25px;
  }
  .subtext {
    font-size: 0.9em;
    max-width: 100%;
    text-align: center;
  }
  /* SECTION 2 */
  .ghost-btn {
    display: none;
  }
  .content-divider {
    grid-template-areas: "text";
    grid-template-columns: 100vw;
    grid-template-rows: 100%;
    height: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .product-header {
    width: 100vw;
  }
  .backdrop-text {
    font-size: 6em;
    margin-top: 0px;
    padding-left: 15px;
  }
  .backdrop {
    width: 100vw;
  }
  .foreground {
    width: 100vw;
  }
  .foreground h1 {
    font-size: 1.5em;
    margin-left: 8%;
    margin-top: 2.3em;
    font-weight: 900;
  }
  .dash {
    height: 2px;
    width: 80px;
  }
  .products-wrapper {
    display: block;
  }

  .product-wrapper-div {
    width: calc(100vw - 40px);
    grid-template-areas:
      "main-product main-product"
      "middle prod2"
      "lasts prod3";
    grid-template-columns: 50% 50%;
    grid-template-rows: 35vh 20vh 20vh;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    margin-top: 20px;
  }
  .main-product {
    height: auto;
    width: auto;
    margin-left: 0%;
    border-radius: 20px;
    background-size: cover;
    margin: 10px;
  }
  .corporate-spaces {
    padding-top: 0%;
    padding-left: 0%;
    text-align: center;
    font-size: 1.5em;
    margin-top: calc((35vh - 50px) / 2);
  }
  .personal-text,
  .rent-ready-container h3,
  .retail-text,
  .coming-soon-container h3 {
    padding-top: 0%;
    padding-left: 0%;
    text-align: center;
    font-size: 1em;
    margin-top: calc((20vh - 45px) / 2);
  }
  .personal-living,
  .rent-ready-container,
  .retail-container,
  .coming-soon-container {
    height: auto;
    width: auto;
    margin-left: 0%;
    margin-top: 0%;
    margin: 10px;
  }
  /* SECTION 3 */
  .projects-wrapper {
    display: block;
  }
  .projects-wrapper-div {
    grid-template-areas:
      "project1 project2"
      "project3 project4"
      "project5 project6";
    grid-template-columns: 50% 50%;
    grid-template-rows: 28vh 28vh 28vh;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    margin-top: 20px;
  }
  .tile1,
  .tile2,
  .tile3,
  .tile4,
  .tile5,
  .tile6 {
    margin: 0%;
  }
  .project-tile {
    height: auto;
    width: auto;
    margin: 7px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: solid;
  }

  .info-wrap {
    top: 5%;
    width: 91%;
    margin-left: 5%;
  }
  #proceed {
    margin-left: 24%;
    height: 45px;
    width: 160px;
  }
  form {
    padding: 15px;
  }
  .input-group input,
  .input-group select {
    margin: 18px auto;
    width: 100%;
    line-height: 18px;
    padding: 12px 14px;
  }
  form .request-callback {
    font-size: 18px;
  }
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  select,
  option {
    font-size: 13px;
  }

  .product-container {
    padding: 30px 12px 12px 12px;
    display: grid;
    grid-template-areas:
      "pic"
      "prod-head"
      "prod-cont";
    grid-template-columns: 100%;
    grid-template-rows: 30vh 6vh 60vh;
  }
  .p-close {
    right: 11px;
    margin-top: 7px;
    font-size: small;
  }
  .owl-nav button {
    font-size: 35px !important;
  }
  .owl-nav {
    margin-left: -8px;
  }
  .p-heading,
  .p-desc {
    margin: 0px 10px 0px 10px;
  }
  .p-desc {
    padding: 0px;
    font-size: 13px;
  }
  .p-heading h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 0px;
    text-align: left;
  }
  .p-image {
    padding: 0px;
  }
}
