<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Scalex</title>

    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
    <script
      src="https://360player.io/static/dist/scripts/embed.js"
      async
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="../static/assets/jquery.touchSlider.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.event.drag/2.2/jquery.event.drag.min.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script>
      //Preloader
      $(window).on("load", function() {
        preloaderFadeOutTime = 200;
        function hidePreloader() {
          var preloader = $(".spinner-wrapper");

          preloader.fadeOut(preloaderFadeOutTime);
        }
        hidePreloader();
      });

      $(window)
        .scroll(function() {
          var windowBottom = $(this).scrollTop() + $(this).innerHeight();
          $(".fade").each(function() {
            /* Check the location of each desired element */
            var objectBottom = $(this).offset().top + $(this).outerHeight();

            /* If the element is completely within bounds of the window, fade it in */
            if (objectBottom < windowBottom) {
              //object comes into view (scrolling down)
              if ($(this).css("opacity") == 0) {
                $(this).fadeTo(500, 1);
              }
            } else {
              //object goes out of view (scrolling up)
              if ($(this).css("opacity") == 1) {
                $(this).fadeTo(500, 0);
              }
            }
          });
        })
        .scroll();
    </script>
  </head>
  <body>
    <!--CSS Spinner-->
    <div class="spinner-wrapper">
      <div class="spinner"></div>
    </div>
    <section class="hero">
      <div class="hero-image-wrapper">
        <img
          class="  hero-image"
          src="../static/assets/cowomen-4C22PfVlhdw-unsplash.jpg"
        />
        <div class="logo">
          <img class="logo-image" src="../static/assets/logo2.png" />
        </div>
      </div>
      <div>
        <div id="menu" class="menu">
          <a id="product">Products</a>
          <a id="project">Projects</a>
          <a id="whyus">Why Us</a>

          <div id="call-btn">
            <img id="phone-icon" src="../static/assets/phone-call.png" />
          </div>
          <span id="number">9811210968</span>
        </div>
        <div id="temp_header"></div>

        <div id="form-wrapper">
          <h1 class="hero-text">
            Redefining workspaces and home interiors
          </h1>
          <p class="subtext">
            We are a Design and Build Company
            <span class="sub-tagline"
              >To Provide Modern Interiors with Financing
            </span>
            taken care for everyone at every Scale.
          </p>
          <button
            id="cta-btn"
            class="cta-btn-m-hide"
            onclick="displayPopUpForm()"
          >
            Get Quote
          </button>
        </div>
        <div class="m-hidden bottom-fix-bar">
          <button id="cta-btn-mobile" onclick="displayPopUpForm()">
            Get Quote
          </button>
          <button id="ghost-btn-mobile">Contact</button>
        </div>
      </div>
    </section>
    <section class="content-divider-heading fade">
      <div class="product-header">
        <div class="backdrop">
          <h1 class="backdrop-text">design</h1>
        </div>
        <div class="foreground">
          <h1>
            <div class="dash"></div>
            Why Us?
          </h1>
        </div>
      </div>
    </section>
    <section class="content-divider-why">
      <div class="why-us">
        <div class="why">
          <div class="icon">
            <i class="large material-icons">insert_chart</i>
          </div>
          <div class="why-text">
            This is why Lorem Ipsum This is why Lorem Ipsum This is why Lorem
            Ipsum This is why Lorem Ipsum
          </div>
        </div>
        <div class="why">
          <div class="icon">
            <i class="large material-icons">insert_chart</i>
          </div>
          <div class="why-text">This is why Lorem Ipsum</div>
        </div>
        <div class="why">
          <div class="icon">
            <i class="large material-icons">insert_chart</i>
          </div>
          <div class="why-text">This is why Lorem Ipsum</div>
        </div>
        <div class="why">
          <div class="icon">
            <i class="large material-icons">insert_chart</i>
          </div>
          <div class="why-text">This is why Lorem Ipsum</div>
        </div>
        <div class="why">
          <div class="icon">
            <i class="large material-icons">insert_chart</i>
          </div>
          <div class="why-text">This is why Lorem Ipsum</div>
        </div>
        <div class="why">
          <div class="icon">
            <i class="large material-icons">insert_chart</i>
          </div>
          <div class="why-text">This is why Lorem Ipsum</div>
        </div>
      </div>
    </section>
    <section class="content-divider fade">
      <div class="product-header">
        <div class="backdrop">
          <h1 class="backdrop-text">design</h1>
        </div>
        <div class="foreground">
          <h1>
            <div class="dash"></div>
            Our Products
          </h1>
        </div>
      </div>
      <div class="projects-button-wrapper">
        <button class="ghost-btn">Contact</button>
      </div>
    </section>
    <section class="products-wrapper fade">
      <div class="product-wrapper-div">
        <div class="main-product clickable-product">
          <h3 class="corporate-spaces">
            Corporate Spaces
          </h3>
        </div>
        <div class="personal-living clickable-product">
          <h3 class="personal-text">Personal Living</h3>
        </div>
        <div class="rent-ready-container clickable-product">
          <h3>Rent Ready</h3>
        </div>
        <div class="retail-container clickable-product">
          <h3 class="retail-text">Retail Spaces</h3>
        </div>
        <div class="coming-soon-container clickable-product">
          <h3>Custom Design</h3>
        </div>
      </div>
    </section>
    <section></section>
    <section class="content-divider fade">
      <div class="product-header">
        <div class="backdrop">
          <h1 class="backdrop-text">work</h1>
        </div>
        <div class="foreground">
          <h1>
            <div class="dash"></div>
            Projects
          </h1>
        </div>
      </div>
      <div class="projects-button-wrapper">
        <button class="ghost-btn">Contact</button>
      </div>
    </section>
    <section class="projects-wrapper fade">
      <div class="projects-wrapper-div">
        <div class="project-tile tile1"></div>
        <div class="project-tile tile2"></div>
        <div class="project-tile tile3"></div>
        <div class="project-tile tile4"></div>
        <div class="project-tile tile5"></div>
        <div class="project-tile tile6"></div>
      </div>
    </section>
    <section class="content-divider">
      <div class="product-header">
        <div class="backdrop">
          <h1 class="backdrop-text">people</h1>
        </div>
        <div class="foreground">
          <h1>
            <div class="dash"></div>
            Testimonials
          </h1>
        </div>
      </div>
      <div class="projects-button-wrapper"></div>
    </section>
    <section></section>
    <section></section>

    <footer>
      <div class="footer-div">
        <div id="footer-logo">
          <img src="../static/assets/logo.png" />
        </div>
        <div id="quick-link">link</div>
        <div id="form">form</div>
      </div>
    </footer>
  </body>
</html>
