<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Scalex</title>

    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/owl.carousel.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/owl.theme.default.min.css')}}"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
  </head>
  <body>
    <!--CSS Spinner-->
    <div class="spinner-wrapper">
      <div class="spinner"></div>
    </div>
    <section id="hero" class="hero">
      <div class="hero-image-wrapper">
        <img
          class="  hero-image"
          src="../static/assets/cowomen-4C22PfVlhdw-unsplash.jpg"
        />
        <div class="logo">
          <img class="logo-image" src="../static/assets/logo2.png" />
        </div>
      </div>
      <div>
        <div id="menu" class="menu">
          <a id="product" href="#our-products">Products</a>
          <a id="project" href="#our-projects">Projects</a>
          <a id="whyus" href="#Why-us">Why Us</a>

          <div id="call-btn">
            <img id="phone-icon" src="../static/assets/phone-call.png" />
          </div>
          <span id="number">9811210968</span>
        </div>
        <div id="temp_header"></div>

        <div id="form-wrapper">
          <h1 class="hero-text">
            Redefining Workspaces and Home Interiors
          </h1>
          <p class="subtext">
            We are a Design and Build Company
            <span class="sub-tagline"
              >To Provide Modern Interiors with Financing
            </span>
            taken care for everyone at every Scale.
          </p>
          <button
            id="cta-btn"
            class="cta-btn-m-hide"
            onclick="displayPopUpForm()"
          >
            Get Quote
          </button>
        </div>
        <div class="m-hidden bottom-fix-bar">
          <div class="cta-btn-hide" onclick="displayPopUpForm()">
            Get Quote
          </div>
          <div class="ghost-btn-mobile">
            <a href="tel:9811210968">
              <button class="blank">
                Call Us
              </button>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="Why-us" class="content-divider-heading fade">
      <div class="product-header">
        <div class="backdrop">
          <h1 class="backdrop-text">design</h1>
        </div>
        <div class="foreground">
          <h1>
            <div class="dash"></div>
            Why Us?
          </h1>
        </div>
      </div>
    </section>
    <section class="content-divider-why">
      <div class="why-us">
        <div class="why">
          <div class="icon">
            <i class="large material-icons-outlined why-icon">how_to_reg</i>
          </div>

          <div><h4>Industry knowledge & Experience</h4></div>

          <div class="why-text">
            Over a decade of industry experience and 200+ years of cumulative
            experience in the designing domain!
          </div>
        </div>
        <div class="why">
          <div class="icon">
            <i class="large material-icons-outlined why-icon"
              >account_balance</i
            >
          </div>
          <div><h4>Financial Support & No Cost EMI</h4></div>
          <div class="why-text">
            We believe in sustainable growth of businesses as well as
            individiuals. We provide No Cost EMI option to credit worthy
            entities.
          </div>
        </div>
        <div class="why">
          <div class="icon">
            <i class="large material-icons-outlined why-icon">person_pin</i>
          </div>
          <div><h4>Personalized Designs</h4></div>
          <div class="why-text">
            Each property we create is customised to suit your needs. Each space
            is created as per your personality!
          </div>
        </div>
        <div class="why">
          <div class="icon">
            <i class="large material-icons why-icon">account_balance_wallet</i>
          </div>
          <div class="why-text">
            <div><h4>Cost Planning</h4></div>
            <p>
              We work with you to develop a budget optimized cost efficient plan
              to effectively recreate your property!
            </p>
          </div>
        </div>
        <div class="why">
          <div class="icon">
            <i class="large material-icons why-icon">where_to_vote</i>
          </div>
          <div><h4>One Stop Solution</h4></div>
          <div class="why-text">
            No running around for different requirements. We’re a one Stop
            Solution for all your design requirements!
          </div>
        </div>
        <div class="why">
          <div class="icon">
            <i class="large material-icons why-icon">spa</i>
          </div>
          <div><h4>Inspired by Green Interiors</h4></div>
          <div class="why-text">
            We ensure to do our bit to protect our planet - Water-less Urinals,
            profile designs to prevent splash issues.
          </div>
        </div>
      </div>
    </section>
    <section id="our-products" class="content-divider fade">
      <div class="product-header">
        <div class="backdrop">
          <h1 class="backdrop-text">design</h1>
        </div>
        <div class="foreground">
          <h1>
            <div class="dash"></div>
            Our Products
          </h1>
        </div>
      </div>
      <div class="projects-button-wrapper">
        <button class="ghost-btn" onclick="displayPopUpForm()">Contact</button>
      </div>
    </section>
    <section class="products-wrapper fade">
      <div class="" id="product-detail-overlay">
        <div class="p-close" onclick="closeproduct()">X</div>
        <div class="master-product-conatiner owl-carousel owl-theme">
          <div class="product-container">
            <div class="p-image">
              <img src="../static/assets/innov82.jpg" alt="" />
            </div>
            <div class="p-heading"><h4>Corporate Spaces</h4></div>
            <div class="p-desc">
              <p>
                Conceptualizing spaces for businesses, prioritizing
                functionality and safety without sacrificing style or
                aesthetics.
              </p>
              <ul class="product-desc-list">
                <li>
                  <h4>Spaces We Cover :</h4>
                  <span>
                    Corporate Offices, Co-working Spaces, Startup Companies,
                    etc.</span
                  >
                </li>
                <li>
                  <h4>Area Recreated:</h4>
                  <span> 6,00,000 Sq. Ft.</span>
                </li>
                <li>
                  <h4>Projects Created :</h4>
                  <span> 70</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-container">
            <div class="p-image">
              <img src="../static/assets/personal_living2.jpg" alt="" />
            </div>
            <div class="p-heading"><h4>Personal Living</h4></div>
            <div class="p-desc">
              <p>
                Creating welcoming and livable spaces for homeowners in skyrises
                & individual plots
              </p>
              <ul class="product-desc-list">
                <li>
                  <h4>Spaces We Cover :</h4>
                  <span>
                    State-of-the-art kitchens, luxurious bedrooms, spacious
                    living rooms, etc.</span
                  >
                </li>
                <li>
                  <h4>Area Recreated:</h4>
                  <span> 80,000 Sq. Ft.</span>
                </li>
                <li>
                  <h4>Projects Created :</h4>
                  <span> 25</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-container">
            <div class="p-image">
              <img src="../static/assets/rent_ready2.jpg" alt="" />
            </div>
            <div class="p-heading"><h4>Rent Ready</h4></div>
            <div class="p-desc">
              <p>
                Creating home spaces without compromising on design, quality or
                safety with renovation and construction processes
              </p>
              <ul class="product-desc-list">
                <li>
                  <h4>Spaces We Cover :</h4>
                  <span>
                    Lighting, floor and ceiling design and technological
                    upgrades.</span
                  >
                </li>
                <li>
                  <h4>Area Recreated:</h4>
                  <span> 1,00,000 Sq. Ft.</span>
                </li>
                <li>
                  <h4>Projects Created :</h4>
                  <span> 110</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-container">
            <div class="p-image">
              <img src="../static/assets/wpj1.jpg" alt="" />
            </div>
            <div class="p-heading"><h4>Retail Spaces</h4></div>
            <div class="p-desc">
              <p>Creating practical, profitable and chic retail outlets</p>
              <ul class="product-desc-list">
                <li>
                  <h4>Spaces We Cover :</h4>
                  <span>
                    Hotels and lounges, restaurants and retail spaces, theaters,
                    hospitals, yoga studios, etc</span
                  >
                </li>
                <li>
                  <h4>Area Recreated:</h4>
                  <span> 1,00,000 Sq. Ft.</span>
                </li>
                <li>
                  <h4>Projects Created :</h4>
                  <span> 10</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-container">
            <div class="p-image">
              <img src="../static/assets/personal_living3.jpg" alt="" />
            </div>
            <div class="p-heading"><h4>Custom Design</h4></div>
            <div class="p-desc">
              <p>
                Our highly qualified and experienced designers are always ready
                to customize your design with high quality service. We use
                latest technology and tools to visualize designs upfront.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="product-wrapper-div">
        <div class="main-product clickable-product" data="0">
          <div class="background-tile"></div>
          <h3 class="corporate-spaces">
            Corporate Spaces
          </h3>
        </div>
        <div class="personal-living clickable-product" data="1">
          <h3 class="personal-text">Personal Living</h3>
        </div>
        <div class="rent-ready-container clickable-product" data="2">
          <h3>Rent Ready</h3>
        </div>
        <div class="retail-container clickable-product" data="3">
          <h3 class="retail-text">Retail Spaces</h3>
        </div>
        <div class="coming-soon-container clickable-product" data="4">
          <h3>Custom Design</h3>
        </div>
      </div>
    </section>
    <section></section>
    <section id="our-projects" class="content-divider fade">
      <div class="product-header">
        <div class="backdrop">
          <h1 class="backdrop-text">work</h1>
        </div>
        <div class="foreground">
          <h1>
            <div class="dash"></div>
            Projects
          </h1>
        </div>
      </div>
      <div class="projects-button-wrapper">
        <button class="ghost-btn" onclick="displayPopUpForm()">Contact</button>
      </div>
    </section>
    <section class="projects-wrapper">
      <div class="" id="project-detail-overlay">
        <div class="p-close" onclick="closeproject()">X</div>
        <div class="master-project-conatiner owl-carousel owl-theme">
          <div class="project-container">
            <div class="p-image">
              <img src="../static/assets/innov8_1.jpg" alt="" />
            </div>
            <div class="p-heading"><h4>Innov8 Coworking</h4></div>
            <div class="p-desc">
              <p>
                Innov8’s design and value had to be incorporated, which helped
                us create a plan of action for Innov8, swiftly and efficiently!
              </p>
              <div class="pr-short-desc">
                <i class="material-icons-outlined">apartment</i>
                <h4>15,000 Sq Ft reinvented in 90 Days</h4>
              </div>
              <p>
                Co-Working Spaces are the next big thing in the Commercial Real
                Estate work and we’re excited to have created a masterpiece in
                the Co-Working Space in India!
              </p>

              <p>
                When Mr. Ritesh came to us with his vision of converting the
                MIDC building into a co-working hub, his conviction in
                converting this old building into a new-age working space - was
                infectious! The brief given to us was direct and simple -
                Innov8’s design and value had to be incorporated, which helped
                us create a plan of action for Innov8, swiftly and efficiently!
              </p>

              <p>
                We started off with understanding what Innov8 stands for, the
                kind of culture and working environment it wishes to provide to
                its member community and the importance of treating this as a
                commercial, yet fun working space!
              </p>
              <p>
                While working on this project, we faced many obstacles owing to
                the age and state of the MIDC building - seepage of Mumbai
                rainwater being one concern - but by the end of the execution,
                we were proud to see the MIDC building being restored to its
                former glory! It was pure joy for Dreamz Unwired to see a new
                page being unturned in the History of Interior Designing and
                Construction in India - and a welcome one!
              </p>
            </div>
          </div>

          <div class="project-container">
            <div class="p-image">
              <img src="../static/assets/karma_1.jpg" alt="" />
            </div>
            <div class="p-heading"><h4>Karma Spark</h4></div>
            <div class="p-desc">
              <p>
                create India’s largest Urban yoga studio with state-of-the-art
                and modern amenities
              </p>
              <div class="pr-short-desc">
                <i class="material-icons-outlined">apartment</i>
                <h4>8,000 Sq Ft reinvented in 50 Days</h4>
              </div>
              <p style="line-height: 2;">
                We created India’s largest Urban yoga studio with
                state-of-the-art and modern amenities. With 8000 square feet
                area of Urban Yoga Studio to be designed and executed - we had a
                clear idea in mind as to what we wanted to do with the expansive
                space! The idea was that the space be creatively cathartic and
                just straight up fun for its patrons. We designed a Yoga studio
                which was modern, efficient, relaxing and had a comfortable
                vibe! After transforming the entire space into a colorful,
                modern oasis that utilizes every squarefoot, the final result
                was spectacular!
              </p>
            </div>
          </div>
          <div class="project-container">
            <div class="p-image">
              <img src="../static/assets/payu1.jpg" alt="" />
            </div>
            <div class="p-heading"><h4>Payu</h4></div>
            <div class="p-desc">
              <p>
                Open office with no Cabins, no walls, no partitions. The aim was
                to fit maximum number of workstations in a size of 10,000 sq
                feet area without cramping the space!
              </p>
              <div class="pr-short-desc">
                <i class="material-icons-outlined">apartment</i>
                <h4>10,000 Sq Ft reinvented in 60 Days</h4>
              </div>
              
                <p>  They brought Dreamz Unwired Team in at the start of the process, asking us to work to create an elegant yet spacious & comfortable office that capitalizes on the vast office space they had;</p>

                <p>  When we successfully closed the PayU deal, we were enthused with energy and excitement - and wanted to channelise that into our design! The office layout, as we conceived it, was going to be a modern Office Space - no closed cabins, no barriers to creativity, easy and effective work-flow and team interaction!</p>
                  
                 <p> We were introduced to an area of 10,000 sq feet of open space and were to reinvent it a unique office space with elegance, without cramping the open space. We were informed of one thing in advance - PayU’s workforce-expansion plan and worked towards making the project conducive to that!</p>
                  
                 <p> Our agenda was to build comfortable, yet inspiring meeting rooms where world-changing ideas could be conceived and planned for execution, create enough work-space to cater to PayU’s expansion plans and build a dream office for this ever-growing company.</p>
              </p>
            </div>
          </div>


          <div class="project-container">
              <div class="p-image">
                <img style="height: 98%;" src="../static/assets/renewbuy_1.jpeg" alt="" />
              </div>
              <div class="p-heading"><h4>Renewbuy</h4></div>
              <div class="p-desc">
                <p>
                    create a comfortable yet efficient Training Room, a quirky and cool Cafeteria and an elegant boardroom!
                </p>
                <div class="pr-short-desc">
                  <i class="material-icons-outlined">apartment</i>
                  <h4>16,000 Sq Ft reinvented in 100 Days</h4>
                </div>
                
                  <p>  Buying and maintaining Real Estate has become more expensive than ever - Companies have started cutting down on the space they own and use, mostly because there seems to be a scarcity for it too, today!</p>
  
                  <p>  After meeting RenewBuy and exploring their new space - we knew we had one problem at hand - 16000 square feet - Space Constraint! We had a project at hand where we were to create a comfortable yet efficient Training Room, a quirky and cool Cafeteria and an elegant boardroom!</p>
                    
                   <p> As an Interior Designing Team - crafting a design that's both stylish and functional can be tricky. It requires a lot of measuring, thoughtful space planning and an understanding of how to create optimal usage of space!</p>
                    
                   <p> Our Star designers came to the Client’s rescue by designing multifunctional furniture which could be converted and used as per requirement - taking up lesser space and increasing efficiency of an area!</p>
                </p>
              </div>
            </div>


            <div class="project-container">
                <div class="p-image">
                  <img style="height: 98%;" src="../static/assets/personal_living2.jpg" alt="" />
                </div>
                <div class="p-heading"><h4>Heaven in Gurgaon</h4></div>
                <div class="p-desc">
                  
                  <div class="pr-short-desc">
                    <i class="material-icons-outlined">apartment</i>
                    <h4>80,000 Sq Ft reinvented till date.</h4>
                  </div>
                  
                    <p> Ankur Rajgarhia subscribes to the notion that less is more when it comes to interior design. “Our style is grounded in elegance when we built a home” he explains. “I believe that simple and elegant home design leads to ease of living. No fuss, You-friendly!”</p>
    
                    <p>  This philosophy underlies all of Dreamz Unwired’s projects, and it’s what attracted a couple building a custom home in Gurgaon. They brought in the Dreamz Team in at the start of the process, asking them to work to create an elegant yet comfortable abode that capitalizes on its bucolic surroundings.</p>
                      
                     <p> The house is located in a high-rise in the middle of the concrete City, retaining unimpeded views while making the abode into a peaceful haven, was a high priority. The living space opens to a porch which looks out into the lit Gurgaon nightline, and if you’re lucky - a starry night - making it a perfect space for the working couple to unwind with a Glass of Wine!</p>
                      
                     <p> To delineate the kitchen and sitting area, the Dream Team designed a granite-topped, walnut display shelf, using custom Shaker-style cabinetry, marble counters and backsplash. The kitchen opens to a breakfast nook where a rustic roundtable is artfully paired with bright red chairs, to add a pop of colour in the otherwise pristine and state-of-the-art kitchen, which is stunning and exemplifies the team’s expertise. Dream Team also designed a customised cabinet that beautifully displays the couple’s curated collection along one wall.</p>
                  
                     <p>Most of the furniture is new to the house. An existing sofa was reupholstered for the sitting area to create a “simple, personal space with a touch of modern,” Ankur adds.</p>
                </div>
              </div>


              <div class="project-container">
                  <div class="p-image">
                    <img style="height: 98%;" src="../static/assets/rent_ready2.jpg" alt="" />
                  </div>
                  <div class="p-heading"><h4>Rent Ready</h4></div>
                  <div class="p-desc">
                    
                    <div class="pr-short-desc">
                      <i class="material-icons-outlined">apartment</i>
                      <h4>1,00,000 Sq Ft reinvented in 110 houses till date.</h4>
                    </div>
                    
                      <p> The Rent Ready line was Akur Rajgarhia’s brain child - with the growing number of high-rises in the country, Dream Team decided to start a line meant to recreate spaces in a fixed budget, using quality products, creating a home for individuals and families living away from their homes.</p>
      
                      <p> Ankur and the team was approached by the owner of a flat in a highrise in Bangalore. Their brief was clear - they owned a flat, newly constructed and wanted to rent it out to a family of 4, for which they approached Dream Team to transform the space in a limited budget.</p>
                        
                       <p> Ankur brainstormed with his team and decided to start with transforming the open kitchen space in the flat, using marble top for the surface, cabinets for the walls and designing spaces for the electronic appliances to be fitted in the kitchen space!</p>


                          <p>In addition to this, the Team customised a TV cabinet with adjoining shelves for books and created beautiful bedrooms for the families.</p>
                        
                       <p> The owner of the flat was delighted to see the transformation of the property and connected us to 4 more people in the same high-rise to recreate their spaces. We really do have a Dream team!</p>
                    
                      
                  </div>
                </div>
        </div>
      </div>
      <div class="projects-wrapper-div">
        <div class="project-tile tile1 fade clickable-project" data="0">
          <div class="small-dash"></div>
          <p class="project-desc">Innovating Innov8 Coworking</p>
        </div>
        <div class="project-tile tile2 fade clickable-project" data="1">
          <div class="small-dash"></div>
          <p class="project-desc">India's Largest Yoga Studio Karma Spark</p>
        </div>
        <div class="project-tile tile3 fade clickable-project" data="2">
          <div class="small-dash"></div>
          <p class="project-desc">Elegant & Spacious Office at Payu</p>
        </div>
        <div class="project-tile tile4 fade clickable-project" data="3">
          <div class="small-dash"></div>
          <p class="project-desc">Space Utilization at Renewbuy</p>
        </div>
        <div class="project-tile tile5 fade clickable-project" data="4">
          <div class="small-dash"></div>
          <p class="project-desc">Elegant Designs for Personal Living</p>
        </div>
        <div class="project-tile tile6 fade clickable-project" data="5">
          <div class="small-dash"></div>
          <p class="project-desc">Making Rent Ready Spaces</p>
        </div>
      </div>
    </section>
    <section class="content-divider">
      <div class="product-header">
        <div class="backdrop">
          <h1 class="backdrop-text">people</h1>
        </div>
        <div class="foreground">
          <h1>
            <div class="dash"></div>
            Testimonials
          </h1>
        </div>
      </div>
      <div class="projects-button-wrapper"></div>
    </section>
    <section>
      <div class="wrapper">
        <div
          class="testimonial-carousel section-padding owl-carousel owl-theme"
        >
          <div class="single-testi">
            <div class="testi-image">
              <img src="../static/assets/Bala.png" alt="" />
            </div>
            <div class="testi-title">Mr Balachander Sekhar, Director of  Marketing</div>
            <div class="testi-desc">
              <p>
                "Ankur Rajgharia and team bring a strong sense of professionalism to activities ranging from creating all kinds of branded merchandise, point of sale material, designing consumer facing retail outlets. He appreciates the workings of a large organizations, multiple stakeholder environments and compliance frameworks and delivers quality work on time. In short, as opportunity presents, we will certainly look at his company for further activities."
              </p>
            </div>
            <div class="testi-logo">
              <img src="" alt="" />
            </div>
          </div>
          <div class="single-testi">
            <div class="testi-image">
              <img src="../static/assets/payu.jpeg" alt="" />
            </div>
            <div class="testi-title">Vishal Sharma
                Head, Infrastructure</div>
            <div class="testi-desc">
              <p>
                "We engaged Dreamz Unwired for our Gurgaon Office, The team did an excellent job whilst being both professional and creative. Despite being in touch with multiple people within PayU they managed the process seamlessly and gave us an exceptional office space."
              </p>
            </div>
            <div class="testi-logo">
              <img src="" alt="" />
            </div>
          </div>
          <div class="single-testi">
            <div class="testi-image">
              <img src="../static/assets/innov8_logo.png" alt="" />
            </div>
            <div class="testi-title">Ritesh Malik, Gaurav Gulati</div>
            <div class="testi-desc">
              <p>
                "The most important factor in selecting an execution Partner is TRUST. DreamzUnwired surpassed all our epxectations in terms of quality, timely delivery and price. A great dynamic team that you can trust wholeheartedly."
              </p>
            </div>
            <div class="testi-logo">
              <img src="" alt="" />
            </div>
          </div>

          <div class="single-testi">
            <div class="testi-image">
              <img src="../static/assets/renewBuy.jpg" alt="" />
            </div>
            <div class="testi-title">Mr Indranil Chatterjee,
                COO</div>
            <div class="testi-desc">
              <p>
                "Without a doubt the best value for money during our office renovation was Dreamz Unwired Interior Design. Every step in the project from design to final walkthrough was stress-free and enjoyable thanks to the competence and professionalism of Ankur and his team. Their impeccable taste and knowledge of all things design was reassuring."
              </p>
            </div>
            <div class="testi-logo">
              <img src="" alt="" />
            </div>
          </div>
          <div class="single-testi">
            <div class="testi-image">
              <img src="../static/assets/personal.png" alt="" />
            </div>
            <div class="testi-title">Mr Amit Saraf</div>
            <div class="testi-desc">
              <p>
                "Ankur Rajgarhia is a professional in every sense of the word. His work is extremely creative,High Quality, innovative and individualized to reflect each client's personal style. He can take a dull home and transition it towards a beautiful space in little or no time. Thanks again to Ankur and the team for adhering to our rather strict timeframes."
              </p>
            </div>
            <div class="testi-logo">
              <img src="" alt="" />
            </div>
          </div>
          <div class="single-testi">
            <div class="testi-image">
              <img src="../static/assets/rent_ready.png" alt="" />
            </div>
            <div class="testi-title">Ms Neha Behal</div>
            <div class="testi-desc">
              <p>
                "We really enjoyed the great service offered by Dreamz Unwired.They recommended various paint colors for our newly renovated kitchen & living room walls. Ankur’s extensive product knowledge and professional demeanor added to the overall experience. We are now really proud of our home, and really appreciate the wonderful service offered by the Dreamz Unwired Team"
              </p>
            </div>
            <div class="testi-logo">
              <img src="" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="overlay">
      <div class="info-wrap">
        <form id="cpa-form" method="POST">
          <button onclick="off()" type="button" class="close">X</button>
          <div id="form-response"> 
          <h3 class="request-callback">Get A Callback</h3>
          <div class="input-group">
            <input
              id="name-input"
              aria-describedby="sizing-addon2"
              type="text"
              placeholder="Full Name"
              required="required"
              maxlength="120"
              name="name"
              class="form-control"
            />
          </div>
          <span class="help is-danger" style="display: none;"></span>
          <div class="input-group">
            <input
            id="email"
              aria-describedby="sizing-addon2"
              type="email"
              placeholder="Email Address"
              required="required"
              maxlength="50"
              name="email"
              class="form-control"
            />
          </div>
          <span class="help is-danger" style="display: none;"></span>
          <div class="input-group">
            <!-- <span id="sizing-addon2" class="input-group-addon">+91</span> -->
            <input
              aria-describedby="sizing-addon2"
              type="tel"
              placeholder="Phone Number"
              required="required"
              minlength="10"
              name="phone"
              class="form-control"
              id="tel-number"
            />
            <input
              class="form-control"
              type="number"
              id="area"
              placeholder="Square Feet Area"
            />
          </div>
          <span class="help is-danger" style="display: none;"></span>

          <div class="input-group locandpoi">
            <select id="form-product" name="location_" class="loc">
              <option value="" disabled="disabled" selected="selected"
                >Select Product</option
              >

              <option value="">Corporate Spcaes</option>
              <option value="">Retail Spaces</option>
              <option value="">Personal Living</option>
              <option value="">Rent Ready</option>
              <option value="">Custom Design</option>
            </select>
            <select name="location" required="required" id="city" class="poi">
              <option value="" selected>City</option>
              <option value="">Delhi NCR</option>
            </select>
          </div>
          <input type="hidden" id="web_location" data-id="/" />
          <button
            id="proceed"
            
            class="btn innov8-solid"
            onclick="fillForm()"
          >
            Get Quote
            <img height="1" width="1" alt="" src="" style="display: none;" />
          </button>
          <p class="tnc-form">
            By clicking the above Get Quote button, you agree to our
            <a href="/terms/">Terms &amp; Conditions.</a>
          </p>
        </div>
        </form>
      </div>
    </div>

    <footer>
      <div class="footer-container">
        <div class="footer-company footer-elements">
          <div class="f-logo">
            <img src="../static/assets/logo2.png" alt="" />
          </div>
          <div class="f-link">
            <ul>
              <li> <a href="#hero">Home</a>
                </li>
              |
              <li><a href="#our-products">Products</a></li>
              |
              <li><a href="#our-projects">Projects</a></li>
            </ul>
          </div>
          <span class="f-copy">© 2019 Scale<sup>x</sup></span>
        </div>
        <div class="footer-address footer-elements">
          <div class="f-location">
            <i class="small material-icons-outlined">map</i>
            <span>668/2, Ghitorni, New Delhi- 110030, India</span>
          </div>
          <div class="f-number">
            <i class="small material-icons-outlined">call</i>
            <span>9811210968</span>
          </div>
          <div class="f-email">
            <i class="small material-icons-outlined">email</i>
            <span>info@scalex.in</span>
          </div>
        </div>
        <div class="footer-social footer-elements">
          <div class="f-about">
            <h4>About the Company</h4>
          </div>
          <div class="f-desc">
            <p>
              We are We are a Design and Build Company
              <span class="sub-tagline"
                >To Provide Modern Interiors with Financing
              </span>
              taken care for everyone at every Scale.
            </p>
          </div>
          <div class="f-social">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
          </div>
        </div>
        <div class="extra"></div>
      </div>
    </footer>

    <script src="../static/js/main.js"></script>
    <!-- <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/sw.js").then(function() {
          console.log("Service Worker Registered");
        });
      }
    </script> -->
  </body>
</html>
