<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Scalex</title>

    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/owl.carousel.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/owl.theme.default.min.css')}}"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
  </head>
  <body>
    <!--CSS Spinner-->
    <div class="spinner-wrapper">
      <div class="spinner"></div>
    </div>
    <section class="hero">
      <div class="hero-image-wrapper">
        <img
          class="  hero-image"
          src="../static/assets/cowomen-4C22PfVlhdw-unsplash.jpg"
        />
        <div class="logo">
          <img class="logo-image" src="../static/assets/logo2.png" />
        </div>
      </div>
      <div>
        <div id="menu" class="menu">
          <a id="product">Products</a>
          <a id="project">Projects</a>
          <a id="whyus">Why Us</a>

          <div id="call-btn">
            <img id="phone-icon" src="../static/assets/phone-call.png" />
          </div>
          <span id="number">9811210968</span>
        </div>
        <div id="temp_header"></div>

        <div id="form-wrapper">
          <h1 class="hero-text">
            Redefining Workspaces and Home Interiors
          </h1>
          <p class="subtext">
            We are a Design and Build Company
            <span class="sub-tagline"
              >To Provide Modern Interiors with Financing
            </span>
            taken care for everyone at every Scale.
          </p>
          <button
            id="cta-btn"
            class="cta-btn-m-hide"
            onclick="displayPopUpForm()"
          >
            Get Quote
          </button>
        </div>
        <div class="m-hidden bottom-fix-bar">
          <div class="cta-btn-hide" onclick="displayPopUpForm()">
            Get Quote
          </div>
          <div class="ghost-btn-mobile">
            <a href="tel:9811210968">
              <button class="blank">
                Call Us
              </button>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="content-divider-heading fade">
      <div class="product-header">
        <div class="backdrop">
          <h1 class="backdrop-text">design</h1>
        </div>
        <div class="foreground">
          <h1>
            <div class="dash"></div>
            Why Us?
          </h1>
        </div>
      </div>
    </section>
    <section class="content-divider-why">
      <div class="why-us">
        <div class="why">
          <div class="icon">
            <i class="large material-icons-outlined why-icon">how_to_reg</i>
          </div>

          <div><h4>Industry knowledge & Experience</h4></div>

          <div class="why-text">
            Over a decade of industry experience and 200+ years of cumulative
            experience in the designing domain!
          </div>
        </div>
        <div class="why">
          <div class="icon">
            <i class="large material-icons-outlined why-icon"
              >account_balance</i
            >
          </div>
          <div><h4>Financial Support & No Cost EMI</h4></div>
          <div class="why-text">
            We believe in sustainable growth of businesses as well as
            individiuals. We provide No Cost EMI option to credit worthy
            entities.
          </div>
        </div>
        <div class="why">
          <div class="icon">
            <i class="large material-icons-outlined why-icon">person_pin</i>
          </div>
          <div><h4>Personalized Designs</h4></div>
          <div class="why-text">
            Each property we create is customised to suit your needs. Each space
            is created as per your personality!
          </div>
        </div>
        <div class="why">
          <div class="icon">
            <i class="large material-icons why-icon">account_balance_wallet</i>
          </div>
          <div class="why-text">
            <div><h4>Cost Planning</h4></div>
            <p>
              We work with you to develop a budget optimized cost efficient plan
              to effectively recreate your property!
            </p>
          </div>
        </div>
        <div class="why">
          <div class="icon">
            <i class="large material-icons why-icon">where_to_vote</i>
          </div>
          <div><h4>One Stop Solution</h4></div>
          <div class="why-text">
            No running around for different requirements. We’re a one Stop
            Solution for all your design requirements!
          </div>
        </div>
        <div class="why">
          <div class="icon">
            <i class="large material-icons why-icon">spa</i>
          </div>
          <div><h4>Inspired by Green Interiors</h4></div>
          <div class="why-text">
            We ensure to do our bit to protect our planet - Water-less Urinals,
            profile designs to prevent splash issues.
          </div>
        </div>
      </div>
    </section>
    <section class="content-divider fade">
      <div class="product-header">
        <div class="backdrop">
          <h1 class="backdrop-text">design</h1>
        </div>
        <div class="foreground">
          <h1>
            <div class="dash"></div>
            Our Products
          </h1>
        </div>
      </div>
      <div class="projects-button-wrapper">
        <button class="ghost-btn" onclick="displayPopUpForm()">Contact</button>
      </div>
    </section>
    <section class="products-wrapper fade">
      <div class="" id="product-detail-overlay">
        <div class="p-close" onclick="closeproduct()">X</div>
        <div class="master-product-conatiner owl-carousel owl-theme">
          <div class="product-container">
            <div class="p-image">
              <img src="../static/assets/corporate.jpg" alt="" />
            </div>
            <div class="p-heading"><h4>Corporate Spaces</h4></div>
            <div class="p-desc">
              <p>
                Conceptualizing spaces for businesses, prioritizing
                functionality and safety without sacrificing style or
                aesthetics.
              </p>
              <i class="material-icons-outlined">insert_chart</i>
              <i></i>
              <i></i>
            </div>
          </div>
          <div class="product-container">
            <div class="p-image">
              <img src="../static/assets/corporate.jpg" alt="" />
            </div>
            <div class="p-heading"><h4>Personal Living</h4></div>
            <div class="p-desc">
              <p>We have content-divider-heading</p>
              <ul>
                <li>
                  Spaces We Cover: Corporate Offices, Co-working Spaces, Startup
                  Companies, etc.
                </li>
                <li>Area Recreated: 6,00,000 Sq. Ft.</li>
                <li>Projects Created: 70</li>
              </ul>
            </div>
          </div>
          <div class="product-container">
            <div class="p-image">
              <img src="../static/assets/corporate.jpg" alt="" />
            </div>
            <div class="p-heading"><h4>Rent Ready</h4></div>
            <div class="p-desc">
              <p>We have content-divider-heading</p>
              <i></i>
              <i></i>
              <i></i>
            </div>
          </div>
          <div class="product-container">
            <div class="p-image">
              <img src="../static/assets/corporate.jpg" alt="" />
            </div>
            <div class="p-heading"><h4>Retail Spaces</h4></div>
            <div class="p-desc">
              <p>We have content-divider-heading</p>
              <i></i>
              <i></i>
              <i></i>
            </div>
          </div>
          <div class="product-container">
            <div class="p-image">
              <img src="../static/assets/corporate.jpg" alt="" />
            </div>
            <div class="p-heading"><h4>Custom Design</h4></div>
            <div class="p-desc">
              <p>We have content-divider-heading</p>
              <i></i>
              <i></i>
              <i></i>
            </div>
          </div>
        </div>
      </div>
      <div class="product-wrapper-div">
        <div class="main-product clickable-product" data="0">
          <div class="background-tile"></div>
          <h3 class="corporate-spaces">
            Corporate Spaces
          </h3>
        </div>
        <div class="personal-living clickable-product" data="1">
          <h3 class="personal-text">Personal Living</h3>
        </div>
        <div class="rent-ready-container clickable-product" data="2">
          <h3>Rent Ready</h3>
        </div>
        <div class="retail-container clickable-product" data="3">
          <h3 class="retail-text">Retail Spaces</h3>
        </div>
        <div class="coming-soon-container clickable-product" data="4">
          <h3>Custom Design</h3>
        </div>
      </div>
    </section>
    <section></section>
    <section class="content-divider fade">
      <div class="product-header">
        <div class="backdrop">
          <h1 class="backdrop-text">work</h1>
        </div>
        <div class="foreground">
          <h1>
            <div class="dash"></div>
            Projects
          </h1>
        </div>
      </div>
      <div class="projects-button-wrapper">
        <button class="ghost-btn" onclick="displayPopUpForm()">Contact</button>
      </div>
    </section>
    <section class="projects-wrapper">
      <div class="projects-wrapper-div">
        <div class="project-tile tile1 fade"></div>
        <div class="project-tile tile2 fade"></div>
        <div class="project-tile tile3 fade"></div>
        <div class="project-tile tile4 fade"></div>
        <div class="project-tile tile5 fade"></div>
        <div class="project-tile tile6 fade"></div>
      </div>
    </section>
    <section class="content-divider">
      <div class="product-header">
        <div class="backdrop">
          <h1 class="backdrop-text">people</h1>
        </div>
        <div class="foreground">
          <h1>
            <div class="dash"></div>
            Testimonials
          </h1>
        </div>
      </div>
      <div class="projects-button-wrapper"></div>
    </section>
    <section>
      <div class="wrapper">
        <div
          class="testimonial-carousel section-padding owl-carousel owl-theme"
        >
          <div class="single-testi">
            <div class="testi-image">
              <img src="../static/assets/Bala.png" alt="" />
            </div>
            <div class="testi-title">Testimonials 1</div>
            <div class="testi-desc">
              <p>This is demo testimonial</p>
            </div>
            <div class="testi-logo">
              <img src="" alt="" />
            </div>
          </div>
          <div class="single-testi">
            <div class="testi-image">
              <img src="../static/assets/innov83.jpg" alt="" />
            </div>
            <div class="testi-title">Testimonials 2</div>
            <div class="testi-desc">
              <p>This is demo testimonial</p>
            </div>
            <div class="testi-logo">
              <img src="" alt="" />
            </div>
          </div>
          <div class="single-testi">
            <div class="testi-image">
              <img src="../static/assets/innov83.jpg" alt="" />
            </div>
            <div class="testi-title">Testimonials 3</div>
            <div class="testi-desc">
              <p>This is demo testimonial</p>
            </div>
            <div class="testi-logo">
              <img src="" alt="" />
            </div>
          </div>

          <div class="single-testi">
            <div class="testi-image">
              <img src="../static/assets/innov83.jpg" alt="" />
            </div>
            <div class="testi-title">Testimonials 3</div>
            <div class="testi-desc">
              <p>This is demo testimonial</p>
            </div>
            <div class="testi-logo">
              <img src="" alt="" />
            </div>
          </div>
          <div class="single-testi">
            <div class="testi-image">
              <img src="../static/assets/innov83.jpg" alt="" />
            </div>
            <div class="testi-title">Testimonials 3</div>
            <div class="testi-desc">
              <p>This is demo testimonial</p>
            </div>
            <div class="testi-logo">
              <img src="" alt="" />
            </div>
          </div>
          <div class="single-testi">
            <div class="testi-image">
              <img src="../static/assets/innov83.jpg" alt="" />
            </div>
            <div class="testi-title">Testimonials 3</div>
            <div class="testi-desc">
              <p>This is demo testimonial</p>
            </div>
            <div class="testi-logo">
              <img src="" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="overlay">
      <div class="info-wrap" style="">
        <form>
          <button onclick="off()" type="button" class="close">X</button>
          <h3 class="request-callback">Get A Callback</h3>
          <div class="input-group">
            <input
              id="name-input"
              aria-describedby="sizing-addon2"
              type="text"
              placeholder="Full Name"
              required="required"
              maxlength="120"
              name="name"
              class="form-control"
            />
          </div>
          <span class="help is-danger" style="display: none;"></span>
          <div class="input-group">
            <input
              aria-describedby="sizing-addon2"
              type="email"
              placeholder="Email Address"
              required="required"
              maxlength="50"
              name="email"
              class="form-control"
            />
          </div>
          <span class="help is-danger" style="display: none;"></span>
          <div class="input-group">
            <!-- <span id="sizing-addon2" class="input-group-addon">+91</span> -->
            <input
              aria-describedby="sizing-addon2"
              type="tel"
              placeholder="Phone Number"
              required="required"
              minlength="10"
              name="phone"
              class="form-control"
            />
            <input
              class="form-control"
              type="number"
              placeholder="Square Feet Area"
            />
          </div>
          <span class="help is-danger" style="display: none;"></span>

          <div class="input-group locandpoi">
            <select name="location_" class="loc">
              <option value="" disabled="disabled" selected="selected"
                >Select Product</option
              >

              <option value="">Corporate Spcaes</option>
              <option value="">Retail Spaces</option>
              <option value="">Personal Living</option>
              <option value="">Rent Ready</option>
              <option value="">Custom Design</option>
            </select>
            <select name="location" required="required" class="poi">
              <option value="">Delhi NCR</option>
            </select>
          </div>
          <input type="hidden" id="web_location" data-id="/" />
          <button
            id="proceed"
            type="submit"
            class="btn innov8-solid"
            onclick="fillForm()"
          >
            Get Quote
            <img height="1" width="1" alt="" src="" style="display: none;" />
          </button>
          <p class="tnc-form">
            By clicking the above Get Quote button, you agree to our
            <a href="/terms/">Terms &amp; Conditions.</a>
          </p>
        </form>
      </div>
    </div>

    <footer>
      <div class="footer-container">
        <div class="footer-company footer-elements">
          <div class="f-logo">
            <img src="../static/assets/logo2.png" alt="" />
          </div>
          <div class="f-link">
            <ul>
              <li>Home</li>
              <li>Products</li>
              <li>Projects</li>
            </ul>
          </div>
          <div class="f-copy">Copyright</div>
        </div>
        <div class="footer-address footer-elements">
          <div class="f-location">Delhi</div>
          <div class="f-number">8390188283</div>
          <div class="emai">info@scalex.in</div>
        </div>
        <div class="footer-social footer-elements">
          <div class="f-about">
            <h4>about the Company</h4>
          </div>
          <div class="f-desc">
            <p></p>
          </div>
          <div class="f-social">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
          </div>
        </div>
      </div>
    </footer>

    <script src="../static/js/main.js"></script>
    <!-- <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/sw.js").then(function() {
          console.log("Service Worker Registered");
        });
      }
    </script> -->
  </body>
</html>
